div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  div.gallery img {
    max-width: 100%;
    max-height: 80vh;
    display: block;
    margin: 10px;
    object-fit: cover;
  }
  